/* Fonts */

body {
  font-family: 'Fira Sans', sans-serif;
}

code {
  font-family: 'Fira Mono', monospace;
}

/* Typography */

body {
  color: #333;
  font-size: 14px;
  line-height: 1.4;
}

h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
}

h1 {
  font-size: 36px;
  font-weight: 500;
}

h2 {
  font-size: 30px;
  font-weight: 500;
}

p {
  margin: 0 0 10px 0;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:focus, a:hover {
  color: #23527c;
  text-decoration: underline;
}

/* Page layout */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.page-horizontal {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  max-width: 980px;
}

/* Header bar */

.navbar {
  margin: 0 0 20px 0;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
}

.navbar .page-horizontal {
  /* The padding will be defined by the nav items themselves */
  padding: 0;
}

.navbar__items {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar__item {
  /* When the navbar is on a single line,
   * align nav items on the left, based on the labels length. */
  flex-grow: 0;
  text-align: left;
}
@media (max-width: 650px) {
  .navbar__item {
    /* When the navbar wraps on several lines,
     * expand the nav items to look like centered buttons. */
    flex-grow: 1;
    text-align: center;
  }
}

.navbar__item a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  color: #777;
}
.navbar__item a:hover {
  color: #555;
  text-decoration: none;
}

.navbar__home {
  font-size: 18px;
}

.navbar__logo {
  vertical-align: middle;
  margin-right: 30px;
}

/* Generic styles */

main li:not(:last-child) {
  margin-bottom: 10px;
}

figure {
  text-align: center
}

footer {
    margin: 30px;
    text-align: center;
}

/* Home page */

.home__overview {
  max-width: 750px;
  margin: 50px auto 60px auto;
  font-size: 28px;
  line-height: 1.4;
  text-align: center;
}

/* Biographies */

.bios {
  display: grid;
  /* To achieve a three-column layout on the max-width,
   * default width is `(container-width - container-h-padding*2 - grid-gap * 2) / 3` */
  grid-template-columns: repeat(auto-fill, 296px);
  grid-gap: 30px;
  margin-top: 25px;
  justify-items: center;
  justify-content: space-evenly;
}

.bio {
  width: 296px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid #e7e7e7;
  background-color: #f8f8f8;
}

.bio__name {
  font-size: 26px;
  margin: 0;
  padding: 20px 5px;
}

.bio__pic {
  width: 100%;
  height: 180px;
  margin: 0px auto;
  object-fit: contain;
}

.bio__desc {
  margin: 25px 0 15px 0;
  padding: 0 15px 0 40px;
  list-style-type: none;
  list-style-position: outside;
  text-align: left;
}

.bio__desc li {
  text-indent: -21px;
}

.bio__desc li .icon {
  margin-right: 3px;
}

.bio__ellipsis {
  display: block;
  /* Replace text-indent by the same amount of negative margin,
  so that the icon is not clipped out of the container */
  text-indent: 0;
  margin-left: -21px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bio__email-diacritics {
  display: block;
  text-indent: 0;
  font-style: italic;
}

/* Icons
 * Mostly extracted from https://github.com/encharm/Font-Awesome-SVG-PNG/tree/master/black/svg
 */

.icon::before {
  display: inline-block;
  content: ' '; /* a single unbreakable space */
  width: 14px;
  background: no-repeat center center;
  background-size: contain;
}

.icon-envelope::before { background-image: url('../img/fa-envelope.svg') }
.icon-github::before   { background-image: url('../img/fa-github.svg') }
.icon-heart::before    { background-image: url('../img/fa-heart.svg') }
.icon-key::before      { background-image: url('../img/fa-key.svg') }
.icon-twitter::before  { background-image: url('../img/fa-twitter.svg') }
